{% extends 'layouts/base.html' %}

{% block body %}
<div class="container">
    <h2>Liste des Monuments</h2>
    <a href="{{ url_for('frontend.add_monument') }}" class="btn btn-primary">Ajouter un Monument</a>
    <table class="table mt-3">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Localisation</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for monument in monuments %}
            <tr>
                <td>{{ monument.name }}</td>
                <td>{{ monument.description }}</td>
                <td>{{ monument.location }}</td>
                <td><img src="{{ monument.image_url }}" alt="Image" style="width: 100px;"></td>
                <td>
                    <a href="{{ url_for('frontend.edit_monument', id=monument.id) }}" class="btn btn-warning">Éditer</a>
                    <form action="{{ url_for('frontend.delete_monument', id=monument.id) }}" method="post"
                        style="display:inline;">
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}